:root{
    --fundo:#433878;
    --cartao-frente:#7E60BF;
    --cartao-verso:#E4B1F0;
    --destaque:#FFE1FF;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);
}